.app-bar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  background: #616161;
  color: #fff;
  height: 64px;
  padding-right: 20px;
}
h1 {
  font-size: 25px;
  font-weight: 700;
  margin: 18px 0 0 40px;
}
h1 span {
  background-color: #fff;
  color: #616161;
  border-radius: 5px;
  padding: 0 10px;
}

