
  <div class="header-tab-content">
    <div id='truckChart' style="width: 900px; height: 400px;"></div>

    <!-- TABLE -->
    <div class="example-container tab-container-no-map mat-elevation-z8">

     

      <div class="example-header" style="padding-left: 5px; margin-left: 14em; width: 60%">
        <!-- <button mat-button [matMenuTriggerFor]="menu2">Menu</button> -->
        
        <mat-form-field id="filterForm" style="margin-left: 5px; font-size: 12px" floatPlaceholder="never">
          <mat-icon id="filter-icon" matPrefix>search</mat-icon>
          <input id="filter" matInput #filter placeholder="Filter Data" class="filter">
        </mat-form-field>   
        
        <button style="color: rgba(0, 0, 0, 0.54)" mat-icon-button (click)="openFilter($event, filter2)">
          <mat-icon>filter_list</mat-icon>
        </button>

        <mat-form-field id="dateForm" style="margin-left: 5px; font-size: 12px" [matMenuTriggerFor]="menu2" #menuTrigger="matMenuTrigger">
            <mat-icon matSuffix>arrow_drop_down</mat-icon>
            <input [(ngModel)]="all_dates" matInput placeholder="Filter Fed Inspection">
          </mat-form-field>


        <mat-menu #menu2="matMenu" (click)="$event.stopPropagation()">
            <mat-card class="example-card" (click)="$event.stopPropagation()">
                <div class="card-header" style="color: white; background: #3f51b5">
                    <mat-card-title>Select Date</mat-card-title> 
                    <button (click)="closeDateMenu(menuTrigger)" class="tpl-close-menu-button" mat-icon-button>
                        <mat-icon>close</mat-icon>
                    </button> 
                </div>    
                  <mat-card-content (click)="$event.stopPropagation()">
                      <div (click)="$event.stopPropagation()">
                          <mat-form-field (click)="$event.stopPropagation()">
                              <input matInput [(ngModel)]="start_date" [matDatepicker]="picker" placeholder="Start Date" (click)="$event.stopPropagation()">
                              <mat-datepicker-toggle matSuffix [for]="picker" (click)="$event.stopPropagation()"></mat-datepicker-toggle>
                              <mat-datepicker #picker (click)="$event.stopPropagation()"></mat-datepicker>
                            </mat-form-field>                                  
    
                          <mat-form-field (click)="$event.stopPropagation()">
                            <input matInput [(ngModel)]="end_date" [matDatepicker]="picker2" placeholder="End Date" (click)="$event.stopPropagation()">
                            <mat-datepicker-toggle matSuffix [for]="picker2" (click)="$event.stopPropagation()"></mat-datepicker-toggle>
                            <mat-datepicker #picker2 (click)="$event.stopPropagation()"></mat-datepicker>
                          </mat-form-field>
                        </div>
                      
                      
                  </mat-card-content>
                  <mat-card-actions (click)="$event.stopPropagation()" align="start">
                      <button style="cursor: pointer" mat-button color="primary" (click)="cancelDate($event, menuTrigger)">CANCEL</button> &nbsp; 
                      <button style="cursor: pointer" mat-button color="primary" (click)="getDates($event, menuTrigger)">APPLY</button>
                  </mat-card-actions>                              
              </mat-card>
        </mat-menu>

        </div>

        <!-- <div class="example-header" [ngClass]="{'border-class': showFilter}"> -->
        <div [hidden]="!showFilter" class="example-header border-class">
          <mat-menu class="truck-options-menu" yPosition="above" #filter2="matMenu"
          [overlapTrigger]="false">
              <span *ngFor="let option of filterOptions; let i = index" [ngSwitch]="option">
                  <button *ngSwitchCase="'Year'" (click)="openFilterMenu(yearFilterTrigger, i)" mat-menu-item>{{option}}</button>
                  <button *ngSwitchCase="'Make'" (click)="openFilterMenu(makeFilterTrigger,i)" mat-menu-item>{{option}}</button>
                  <button *ngSwitchCase="'Model'" (click)="openFilterMenu(modelFilterTrigger,i)" mat-menu-item>{{option}}</button>
              </span>
          </mat-menu>

          <mat-menu color="primary" yPosition="below" [overlapTrigger]="false" #yearFilter="matMenu">
            <filter-menu
            [dataSource]= "dataSource"
            [filterType]="'Year Filter'"
            [title]= "'Year'"
            [trigger]= "yearFilterTrigger"
            [reducer]= "filterYear.bind(this)"
            [addToFilterBar]="addYearToFilterBar.bind(this)"
            [selectedOptions] = "selectedOptions"></filter-menu>
          </mat-menu>
          <span mat-button [mat-menu-trigger-for]="yearFilter" #yearFilterTrigger="matMenuTrigger"></span>

          <mat-menu color="primary" yPosition="below" [overlapTrigger]="false" #makeFilter="matMenu">
            <filter-menu
            [dataSource]= "dataSource"
            [filterType]="'Make Filter'"
            [title]= "'Make'"
            [trigger]= "makeFilterTrigger"
            [reducer]= "filterMake.bind(this)"
            [addToFilterBar]="addMakeToFilterBar.bind(this)"
            [selectedOptions] = "selectedOptions"></filter-menu>
          </mat-menu>
          <span mat-button [mat-menu-trigger-for]="makeFilter" #makeFilterTrigger="matMenuTrigger"></span>

          <mat-menu color="primary" yPosition="below" [overlapTrigger]="false" #modelFilter="matMenu">
            <filter-menu
            [dataSource]= "dataSource"
            [filterType]="'Model Filter'"
            [title]= "'Model'"
            [trigger]= "modelFilterTrigger"
            [reducer]= "filterModel.bind(this)"
            [addToFilterBar]="addModelToFilterBar.bind(this)"
            [selectedOptions] = "selectedOptions"></filter-menu>
          </mat-menu>
          <span mat-button [mat-menu-trigger-for]="modelFilter" #modelFilterTrigger="matMenuTrigger"></span>

          <mat-form-field floatPlaceholder="never" id="filter2Trigger">
              <mat-chip-list matPrefix #chipList>
                  <mat-chip *ngFor="let opt of selectedOptions" [selectable]="selectable"
                  [removable]="removable" (remove)="removeFromFilterBar(opt)">
                    {{opt.value}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
                
              <input 
                mat-button [mat-menu-trigger-for]="filter2"
                #filter2Trigger="matMenuTrigger" matInput 
                placeholder="Filter" class="filter">
                <mat-icon style="cursor: pointer" (click)="closeFilterBar()" matSuffix>close</mat-icon>
          </mat-form-field>
          
        </div>


        <div class="spinner-container" *ngIf="loading">
          <mat-spinner></mat-spinner>
          <!-- <img class="spinner" src="assets/animated-gif.gif" /> -->
        </div>
      <mat-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

               <!-- Checkbox Column -->
               <ng-container matColumnDef="checkbox">
                <mat-header-cell *matHeaderCellDef>
                  <mat-checkbox color="primary" class="checkbox" (change)="selectAllCheckBoxes($event)"></mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-checkbox color="primary" class="checkbox" [(ngModel)]="row.checked"></mat-checkbox>
                </mat-cell>
              </ng-container>

              <!-- Checkbox Column -->
              <ng-container matColumnDef="enable">
                <mat-header-cell *matHeaderCellDef> <div style="background-color: #9e9e9e" class="enable-circle"></div> </mat-header-cell>
                <mat-cell [mat-menu-trigger-for]="enableButtonFilter" #enableButtonFilterTrigger="matMenuTrigger"
                  class="enable-circle-display" *matCellDef="let row">

                  <div class="enable-circle-cursor" (click)="openEnableTrigger(row)" [ngClass]="{'enable-circle': row.enable == true, 'enable-circle-pause': row.enable == false }"></div>

                  <!-- <div *ngIf="selectedRowIndex == row.id" [ngClass]="{'enable-icon-color': selectedRowIndex == row.id}">
                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                  </div> -->
                  <mat-menu yPosition="below" [overlapTrigger]="true" #enableButtonFilter="matMenu">
                      <button  mat-menu-item (click)="enableRow(row)">
                        <div style="display: inline-block" class="enable-circle"></div>
                        <p style="display: inline-block">Enable</p>
                      </button>
                      <button  mat-menu-item (click)="disableRow(row)">
                        <div style="background-color: #9e9e9e; display: inline-block" class="enable-circle"></div>
                        <p style="display: inline-block">Disable</p>
                      </button>
                  </mat-menu>
                  <span  mat-button ></span>
                </mat-cell>
              </ng-container>
        <!-- ID Column -->
        <ng-container matColumnDef="userId">
          <mat-header-cell *matHeaderCellDef> Unit # </mat-header-cell>
          <mat-cell (click)="viewData(row)" *matCellDef="let row"> {{row.unit_no}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="userName">
          <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
          <mat-cell (click)="viewData(row)" *matCellDef="let row"> {{row.year}} </mat-cell>
        </ng-container>

         <!-- Color Column -->
         <ng-container matColumnDef="color">
          <mat-header-cell *matHeaderCellDef> Model </mat-header-cell>
          <mat-cell (click)="viewData(row)" *matCellDef="let row" [style.color]="row.color"> {{row.model}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="progress">
          <mat-header-cell *matHeaderCellDef> Make </mat-header-cell>
          <mat-cell (click)="viewData(row)" *matCellDef="let row"> {{row.make}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> Fed Inspection </mat-header-cell>
          <mat-cell (click)="viewData(row)" *matCellDef="let row"> {{row.fed_inspection | date: 'shortDate'}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row [ngClass]="{'highlight': selectedId == row.id}" *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator
        [length]="pageLength"
        [pageIndex]="0"
        [pageSize]="5"
        (page)="pageChanged($event)"
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
    <!-- TABLE END -->

  </div>


